/* slaid1 */

.logotip{
    margin-top: 25px;
    padding-left: 50px;  
}

.slaidd{
    margin-top: 250px;  
    padding-left: 150px;  
}
.zag {
    margin-top: 30px;
    padding-left: 80px;
}

.sin {
    text-align: center;
}

/* slaid2 */

.slaid2 {
    margin-top: 10px;  
    padding-left: 150px;  
}

.text {
    margin-top: 50px;  
    padding-left: 80px;  
    font-size:larger;
}

.bands {
    margin-top: 150px; 
    background-image: url('../img/bands.jpg');
    /* background-attachment: fixed;  */
    /* background-size:contain;  */
    background-position: right;
    background-repeat: no-repeat;
}

.slaid22{
    margin-bottom: 200px;
}


/* slaid 3 */

.slaid3 {
    margin-top: 10px;  
    padding-left: 150px;  
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, white 70%, rgba(233, 227, 227, 0.849) 30%);
    padding-bottom: 100px;
}

.taskss {
    padding-top: 50px;
    text-align: center; 
    color: rgb(255, 255, 255);
}

h4 {
    background-color: rgb(78, 74, 102);
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/* slaid 4 */

.slaid4 {
    margin-top: 100px;  
    padding-left: 150px;  
}

.technologies {
    color: white;
}

.zagolovki {
    margin-top: 70px;  
    text-align: center;
}

.points {
    padding-top: 40px;
    
}