/* slaid1 */

.logotip{
    margin-top: 25px;
    padding-left: 50px;  
}

.slaidd{
    margin-top: 250px;  
    padding-left: 150px;  
}
.zag {
    margin-top: 33%;
    padding-left: 80px;
}

.sin {
    text-align: center;
}

/* slaid2 */

.slaid22 {
    margin-top: 10px;  
    padding-left: 150px;  
}

.text {
    margin-top: 50px;  
    padding-left: 60px;  
    font-size:larger;
}